/*------------------------------------------------------------------------**
** レスポンシブ設定                                                        **
**------------------------------------------------------------------------*/

// 変数の定義
// min-width
$breakpoint-up: (
    'sm': 'screen and (min-width: 400px)',
    'md': 'screen and (min-width: 768px)',
    'lg': 'screen and (min-width: 1000px)',
    'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
    'sm': 'screen and (max-width: 399px)',
    'md': 'screen and (max-width: 767px)',
    'lg': 'screen and (max-width: 999px)',
    'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}

@mixin mq-down($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}
/*------------------------------------------------------------------------**
** All                                                                    **
**------------------------------------------------------------------------*/


/*------------------------------------------------------------------------**
** Product                                                                **
**------------------------------------------------------------------------*/

.product-img{

    max-width: 100%;

    @include mq-up(md){
        height: 20vh;
    }
}

/*------------------------------------------------------------------------**
** News                                                                   **
**------------------------------------------------------------------------*/

.img-news{
    max-width: 100%;
    object-fit: cover;

    @include mq-up(md){
        height: 30vh;
    }
}

.div-news-original-img{
    opacity: 1;
}

.btn-delete-img{
    border-radius:50%;
}

.btn-delete-img:focus {
    outline:0;
    box-shadow: none;
}