@charset "UTF-8";

/*------------------------------------------------------------------------**
** レスポンシブ設定                                                        **
**------------------------------------------------------------------------*/

/*------------------------------------------------------------------------**
** Product                                                                **
**------------------------------------------------------------------------*/

.product_img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .product_img {
    height: 20vh;
  }
}

/*------------------------------------------------------------------------**
** News                                                                   **
**------------------------------------------------------------------------*/

.img-news {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .img-news {
    height: 30vh;
  }
}

