.wrapper {
    margin: 15px auto;
    max-width: 700px;
}

.container-calendar {
    background: #ffffff;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #4C2224;
    color: #fff;
    border: 1px solid #4C2224;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar th,
.table-calendar td {
    padding: 10px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    font-weight: bold;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}


/* 日曜 */

.date-picker:nth-child(1) a{
    color: red;
}

.date-picker:nth-child(2) a{
    color: black;
}

.date-picker:nth-child(3) a{
    color: black;
}

.date-picker:nth-child(4) a{
    color: black;
}

.date-picker:nth-child(5) a{
    color: black;
}

.date-picker:nth-child(6) a{
    color: black;
}


/* 土曜 */

.date-picker:nth-child(7) a{
    color: blue;
}

#monthAndYear {
    background: #4C2224;
    color: #F8F2E5;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #454545;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}