@charset "UTF-8";

/*------------------------------------------------------------------------**
** レスポンシブ設定                                                        **
**------------------------------------------------------------------------*/

/*------------------------------------------------------------------------**
** 変数の定義                                                              **
**------------------------------------------------------------------------*/

.text-color-fontgray {
  color: #888;
}

/*------------------------------------------------------------------------**
** All                                                                    **
**------------------------------------------------------------------------*/

body {
  background-color: white;
}

#div-nav .navbar {
  background-color: #4c2224;
}

#div-nav .navbar .nav-link {
  font-size: 1.5rem;
  color: #cfb15b;
}

#div-nav .navbar .dropdown-menu {
  border: none;
  background-color: #4c2224;
}

#div-nav .navbar .dropdown-item {
  color: #cfb15b;
}

#div-nav .navbar .dropdown-item:hover {
  background-color: #593924;
}

#div-nav .navbar .navbar-toggler {
  border-color: #cfb15b;
  outline: 0;
  box-shadow: none;
}

#div-nav .navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(207, 177, 91, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  background-color: transparent !important;
}

#div-nav .navbar .navbar-toggler-icon :active {
  background-color: transparent !important;
}

#div-banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.page_title {
  margin: 0 auto;
  color: #C7B5B5;
  font-size: 5rem;
}

.footer {
  background-color: #4c2224;
  color: #cfb15b;
}

@media screen and (min-width: 768px) {
  .footer {
    color: #C7B5B5;
    background-image: url("/img/morita/bg-footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/*------------------------------------------------------------------------**
** Home                                                                   **
**------------------------------------------------------------------------*/

#divHomeConsept {
  height: 25vh;
  color: #C7B5B5;
  background-image: url("/img/morita/home-bg-consept.png");
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

@media screen and (min-width: 768px) {
  #divHomeConsept {
    height: 30vh;
  }
}

.p-home-consept {
  width: 100%;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .p-home-consept {
    font-size: 1.3rem;
    padding-left: 10vh;
  }
}

.a-home-consept {
  height: 5vh;
  width: 100%;
  color: white;
  border: 1px solid #C7B5B5;
}

@media screen and (min-width: 768px) {
  .a-home-consept {
    width: 20%;
    font-size: 1.3rem;
    margin-left: 10vh;
  }
}

.a-home-consept:hover {
  color: #C7B5B5;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
}

.home-news-card {
  background-image: url("/img/morita/bg-info-card.gif");
  border: none;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .home-news-card {
    width: 80%;
  }
}

.home-news-card .card-content {
  height: 18vh;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 768px) {
  .home-news-card .card-content {
    height: 13vh;
    -webkit-line-clamp: 4;
  }
}

.card-img-news {
  width: 45vw;
  height: 45vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .card-img-news {
    width: 13vw;
    height: 13vw;
  }
}

.card-news-date {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 1.1rem;
  font-weight: bold;
}

.btn-card-news-detail {
  border: 1px solid black;
}

/*------------------------------------------------------------------------**
** Access                                                                   **
**------------------------------------------------------------------------*/

.shop_detail {
  margin-bottom: 5vh;
  margin-top: 5vh;
}

/*------------------------------------------------------------------------**
** Consept                                                                **
**------------------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  #imgConsept1 {
    margin-top: 10vh;
    max-width: 50vh;
  }
}

@media screen and (max-width: 767px) {
  #imgConsept1 {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #consept-text-2 {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .test {
    flex-direction: column-reverse;
  }
}

